*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/css
/public/fonts
/public/js
/public/mix-manifest.json
/public/hot
/public/storage
/public/storage
/public/.htaccess
/public/bg.png
/public/index.php
/public/robots.txt
/public/sitemap.xml
/public/hiring.png
/public/hiring-amico.svg
/public/list.html
!/public/build/*
.htaccess
/storage/pail
/vendor
!/vendor/filament/filament/src/Pages/*
Homestead.json
Homestead.yaml
Thumbs.db
.history